:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: white;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#new-contact-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-contact-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-contact-input::placeholder {
  color: var(--gray);
}

#new-contact-submit {
  color: var(--pink);
  font-size: 1.2rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#new-contact-submit::hover {
  opacity: 0.8;
}

#new-contact-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.contact-list {
  padding: 1rem;
}

.contact-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#contacts .contact {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

#contacts .contact .content {
  flex: 1 1 0%;
}

#contacts .contact .content .text {
  color: white;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#contacts .contact .content .text:not(:read-only) {
  color: var(--pink);
}

#contacts .contact .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.contact .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.contact .actions button:hover {
  opacity: 0.8;
}

.contact .actions button:active {
  opacity: 0.6;
}

.contact .actions .edit {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .actions .delete {
  color: crimson;
}
